<section class="gallery " >
  <div class="container">
        <h2 class="gallery__title visually-hidden">Gallery</h2>
        <picture >
            <source class="gallery-img" srcset="
                      ./images/gallery/gall-desktop.png 1x, 
                      ./images/gallery/gall-desktop@x2.png 2x" media="(min-width:1280px)" />
            <source class="gallery-img" srcset="
                      ./images/gallery/gall-tablet.png 1x, 
                      ./images/gallery/gall-tablet@x2.png 2x" media="(min-width:768px)" />
            <source class="gallery-img" srcset="
                      ./images/gallery/gall-mobile.png 1x, 
                    ./images/gallery/gall-mobile@x2.png 2x" media="(min-width:320px)" />
            <img class="gallery-img"
            src="./images/gallery/gall-desktop.png"
            alt="many differents pictures"   
                 
              >
        </picture>
<div class="container">
</section>