<section class="header-section">
    <h2 class="header__title visually-hidden">Advantages</h2>
    <div class=" header_container container ">

       
            <a lang="en" href="" class="header_logo link">

                <svg class="header_logo--icon" width="50" height="50">
                    <use href="./images/icon.svg#icon-logo-ice-f"></use>
                </svg>
                <span class="header_logo--text">ICECREAM</span>
            </a>
       

        <nav class="header_navigation navigation">
            <ul class="navigation_list list">
                <li class="navigation_item"> <a href="#header" class="navigation_link link current">Home</a></li>
                <li class="navigation_item"> <a href="#about" class="navigation_link link">About us</a></li>
                <li class="navigation_item"> <a href="#advantages" class="navigation_link link">How it’s made?</a></li>
                <li class="navigation_item"> <a href="#products" class="navigation_link link">Our products</a></li>
                <li class="navigation_item"> <a href="#contacts" class="navigation_link link">Contact</a></li>
            </ul>
        </nav>

        <button class="js-open-menu " aria-expanded="false" aria-controls="mobile-menu">
            <svg class="icon__open" width="20" height="12">
                <use href="./images/icon.svg#icon-Burger-f"></use>
            </svg>
        </button>

        <button type="button" class="buy-btn button">
            Buy now
            <svg class="buy-btn--arrow" width="7" height="10">
                <use href="./images/icon.svg#icon-arrow-done"></use>
            </svg>
        </button>
    </div>
</section>