<section class="products-section " id="products">
    <div class="container">
        <p class="products__tittle-text">100% natural</p>
    <h2 class="products__tittle">products</h2>
    <ul class="products__cards list cards-ice ">
        <li class="cards-ice__item cards-ice__item--pink">
            <h3 class="cards-ice__tittle">ice cream</h3>
                <svg class="cards-ice__icon" width="26px" height="6px" >
                    <use href="./images/icon.svg#icon-Group-4"></use>
                </svg>
                <p class="cards-ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="cards-ice__btn " data-modal-open>
                        <svg class="cards-ice__icon--btn" width="10px" height="10px" >
                            <use href="./images/icon.svg#icon-stroke-arrow"></use>
                        </svg> 
                    </button>
            </li>
            <li class="cards-ice__item cards-ice__item--yellow" data-modal-open2>
                <h3 class="cards-ice__tittle">ice coffee</h3>
                    <svg class="cards-ice__icon" width="26px" height="6px" >
                        <use href="./images/icon.svg#icon-Group-4"></use>
                    </svg>
                    <p class="cards-ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                        <button type="button" class="cards-ice__btn">
                            <svg class="cards-ice__icon--btn" width="10px" height="10px" >
                                <use href="./images/icon.svg#icon-stroke-arrow"></use>
                            </svg> 
                        </button>
                </li>
                <li class="cards-ice__item cards-ice__item--green">
                    <h3 class="cards-ice__tittle">milkshakes</h3>
                        <svg class="cards-ice__icon" width="26px" height="6px" >
                            <use href="./images/icon.svg#icon-Group-4"></use>
                        </svg>
                        <p class="cards-ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                            <button type="button" class="cards-ice__btn" data-modal-open3>
                                <svg class="cards-ice__icon--btn" width="10px" height="10px" >
                                    <use href="./images/icon.svg#icon-stroke-arrow"></use>
                                </svg> 
                            </button>
                    </li>
                </ul>
            </div>
        </section>