.advantages-section {
  padding-top: 30px;
  margin-top: -30px;
  padding-bottom: 100px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 100px;
  }
}
.advantages {
  background-color: $bg-section;
}
.advantages__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
    margin-bottom: -60px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
.advantages__item {
  width: 230px;
  height: 156px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:not(:last-child) {
    margin-bottom: 38px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }
  }
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    @media screen and (min-width: $tablet) {
      top: -12%;
    }
    @media screen and (min-width: $desktop) {
    }
  }
  @media screen and (min-width: $tablet) {
    width: 180px;
    height: 196px;

    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    width: 330px;
    height: 196px;

    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.advantages__item1 {
  &::before {
    content: '';
    width: 33px;
    height: 50px;
    background-size: contain;
    background: url('../images/pseudo-elements-svg/bucket.png') no-repeat center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url('../images/pseudo-elements-svg/bucket@x2.png') no-repeat center;
      background-size: contain;
    }
  }
}

.advantages__item2 {
  &::before {
    content: '';
    width: 50px;
    height: 50px;
    background-size: contain;
    background: url('../images/pseudo-elements-svg/bucket-apple.png') no-repeat center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url('../images/pseudo-elements-svg/bucket-apple@x2.png') no-repeat center;
      background-size: contain;
    }
  }
}

.advantages__item3 {
  &::before {
    content: '';
    width: 44px;
    height: 50px;
    background-size: contain;
    background: url('../images/pseudo-elements-svg/lollipop-heart.png') no-repeat center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url('../images/pseudo-elements-svg/lollipop-heart@x2.png') no-repeat center;
      background-size: contain;
    }
  }
}
.advantages__item-title {
  font-family: $text-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-design-main;
  @media screen and (min-width: $tablet) {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 48px;
    line-height: calc(55 / 48);
  }
  @media screen and (min-width: $desktop) {
    font-weight: 400;
    font-size: 58px;
    line-height: calc(66 / 58);
    letter-spacing: 0.04em;
  }
}
.advantages__item-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);

  color: $color-design-black;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: calc(24p / 14);
  }
  @media screen and (min-width: $desktop) {
    width: 330px;
    height: 52px;
    font-size: 16px;
    line-height: calc(28 / 16);
    letter-spacing: 0.02em;
  }
}
