.contacts {
  background-color: $bg-section;
  padding-bottom: 113px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 158px;
  }
}

// .container {
//   padding-right: 50px;
//   padding-left: 50px;
// }

.contacts-title {
  position: relative;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  margin-top: -1px;
}
.contacts-title-hid {
  position: absolute;
  top: -100px;
}
.contacts-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -84px;
  @media screen and (min-width: $tablet) {
    margin: -10px -10px;
    margin-top: -78px;
  }
  @media screen and (min-width: $desktop) {
    margin: -15px -15px;
    margin-top: -78px;
  }
}

.contacts-cards__item {
  width: 220px;
  margin: 10px 10px;
  font-size: 12px;
  background-color: $color-design-white;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  @media screen and (min-width: $tablet) {
    width: calc(100% / 3 - 30px);
    font-size: 14px;
    padding: 50px 30px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    width: 330px;
    padding: 51px 44px 62px 43px;
    margin: 15px 15px;
  }
}
.contacts-cards-day {
  margin-bottom: 10px;
}

.contacts-cards-type {
  display: inline-block;
  padding: 0px 20px;
  background: $bg-beige-color;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.86;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  color: $color-design-white;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.contacts-cards-type--green {
  background-color: $bg-green-color;
}

.contacts-cards-city {
  color: $color-design-black;
  padding-top: 25px;
  @media screen and (min-width: $tablet) {
    padding-top: 30px;
  }
}

.contacts-cards-text {
  color: $color-description;
  padding-bottom: 25px;
  padding-top: 10px;
  line-height: 1.5;
  @media screen and (min-width: $tablet) {
    padding-top: 14px;
    padding-bottom: 30px;
  }
}

.contacts-cards-timetable {
  border-bottom: 1px solid $color-line-in-contacts;
  border-top: 1px solid $color-line-in-contacts;
  padding-bottom: 25px;
  padding-top: 25px;
  @media screen and (min-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.contacts-cards-time {
  color: $color-subtitle;
}

.contacts-cards-timetable__item:not(:last-of-type) {
  margin-bottom: 10px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
  }
}

.contacts-cards-list {
  padding-top: 25px;
  @media screen and (min-width: $tablet) {
    padding-top: 30px;
  }
}

.contacts-cards-tel,
.contacts-cards-mail {
  color: $color-description;
  line-height: 1.5;
}

.contacts-btn-list {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    margin-top: 81px;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 86px;
  }
}

.contacts-btn-list__item:last-of-type {
  @media screen and (min-width: $tablet) {
    margin-left: 14.5px;
  }
}

.contacts-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d41342;
  border-radius: 22px;
  border: 0;
  width: 162px;
  height: 44px;
  color: $bg-btn-light;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  svg {
    margin-left: 8px;
    @media screen and (min-width: $desktop) {
      margin-left: 14px;
    }
  }
}

.contacts-btn--inverse {
  background-color: $bg-btn-light;
  color: #d41342;
  transition: background-color $pr-transition;
  &:hover,
  &:focus {
    background-color: $bg-btn-light-hover;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 205; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: rgba(255, 184, 202, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2px 16px;
  width: 100%;
  height: 85%;
}

.modal-header {
  padding: 0 4px;
  color: white;
}
